@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Pacifico&display=swap');
.width-fit {
    max-width: 70%;
    width: fit-content;
}

.h-min-screen {
    min-height: 100vh;
}

.dashboard {
    height: calc(100vh - 135px);
}

.top-unset {
    top: unset
}

.bottom-unset {
    bottom: unset;
}

.right-unset {
    right: unset;
}

.left-unset {
    left: unset;
}

.bottom-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.account-bg {
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo_text {
    font-family: 'Pacifico', cursive;
}

.chat_text {
    font-family: 'ABeeZee', sans-serif;
}

.chat_navbar {
    background: #003778;
}

.p-00 {
    padding: 0;
}

.left-pane {
    box-shadow: inset -1px 0px 0px 0px #e5e7e38f;
}

.button-bg {
    background: #457fca;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5691c8, #457fca);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5691c8, #457fca);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 1024px) {
    .lg\:right-unset {
        right: unset;
    }
}

@media (min-width: 1024px) {
    .lg\:align-left {
        width: 8rem;
    }
}

.chat-height {
    height: calc(100vh - 155px);
}

.group-height {
    height: calc(100vh - 105px);
}

@media (min-width: 1024px) {
    .lg\:align-middle {
        margin-left: 8rem;
    }
}

@media (min-width: 1024px) {
    .lg\:ml-98 {
        margin-left: 31rem;
    }
}

@media (min-width: 1024px) {
    .lg\:chat-height {
        height: calc(100vh - 100px);
    }
}

.navbar {
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
}

.landing-screen-1 {
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f3baec, #eb04d9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f3baec, #eb04d9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Works on Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(51, 48, 51) orange;
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(136, 133, 133);
    border-radius: 20px;
    margin: 0 5px;
    border: 3px solid rgb(136, 133, 133);
}


/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    top: -5px;
    left: 105%;
}

.tooltip .tooltiptext {
    top: -5px;
    right: 105%;
}


/* top */

.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}


/* bottom */

.tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}


/* bottom arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


/* top arrow */

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}


/* left-arrow */

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}


/* right-arrow */

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}